<div class="main-container">
  <%-include("modal")%>
  <div class="side-bar">
    <a href="/"><h1>Vault | Tage</h1></a>

    <div class="upload-container">
      <button class="default-btn default" id="modal-open-upload">
        Upload File
      </button>
      <button class="default-btn default" id="modal-open">Create Folder</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 5px">
      <a href="/" class="default-btn default">Home </a>
      <a href="/sharedfiles" class="default-btn default">Shared </a>
    </div>
  </div>
  <main>
    <%-include("nav")%>
    <div class="main-content">
      <h1>main Content</h1>
      <%files.forEach(function(val) {%> <%=val.name%> <%})%>
      <a href="/delete">Delete Users</a>
      <form method="POST" action="/logout"><button>Logout</button></form>
    </div>
  </main>
</div>
