<%-include("header")%>
<div class="login-container">
  <div class="login-content">
    <div class="login-desc-container">
      <h1 class="default-color" style="font-size: 2.5rem">
        Vault | Tage</span>
      </h1>
      <div class="login-desc">
        <p>
          A simple personal storage designed to keep your files accessible.
          Upload and store your documents, photos, and videos in just a few
          clicks. Download your files anytime from any device with an internet
          connection. Share your files easily with no complicated features —
          just straight forward, reliable storage.
        </p>
      </div>
    </div>
    <div class="login-input">
      <div class="error-container" id="error-container"></div>
      <br>
      <form onsubmit="return formSubmit(event,'/login')">
        <div>
          <label for="user_name">User Name</label>
          <input
            type="text"
            name="user_name"
            id="user_name"
            class="default-field xl"
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="Password"
            name="password"
            id="password"
            class="default-field xl"
          />
        </div>
        <button type="submit" class="default-btn">Log In</button>
      </form>
      <br />
      <hr />
      <br />
      <p>Don't have an account?</p>
      <a href="/signup" class="default-color">Create Account</a>
    </div>
  </div>
</div>

