* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.default-color {
  color: rgb(107, 49, 107);
}
body {
  font-family: Roboto;
  background-color: rgb(242, 244, 247);
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.login-content {
  width: 900px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
}
.login-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.login-desc {
  padding: 10px;
  text-align: justify;

  font-size: 1.2rem;
}
.login-input {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 10px 10px gray;
}
.login-input > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-input > form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.default-field {
  border-radius: 10px;
  border: none;
  background-color: rgb(219, 219, 224);
}
.default-btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(107, 49, 107);
  cursor: pointer;
  color: white;
  font-weight: 900;
}
.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.signup-content {
  width: 350px;
  text-align: center;
}
.signup-content > form {
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 1px 2px 1px gray;
  gap: 10px;
}
.signup-content > form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
  align-items: start;
}

.xl {
  padding: 15px 20px;
}
.default {
  padding: 10px 5px;
  width: 100%;
  border-radius: 5px;
}
.error-container {
  color: red;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.side-bar {
  padding: 10px;
  padding-top: 10px;
}
main {
  flex: 1;

  margin-bottom: 10px;
}
.main-content {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-right: 10px;
  height: 92vh;
}
nav {
  background-color: rgb(242, 244, 247);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.profile {
  border-radius: 50%;
  background-color: rgb(107, 49, 107);
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.upload-container {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid rgb(228, 225, 225);
  border-bottom: 1px solid rgb(214, 212, 212);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal {
  background-color: rgba(190, 186, 186, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 227, 227);
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.hide {
  display: none;
}
.modal-container {
}
.default-btn:hover {
  background-color: rgb(190, 152, 190);
  transition: background-color ease-in-out 0.1s;
}
